<%= render partial: 'shared/header' %>

<%= render partial: 'shared/menu' %>
<div id="container">
  <div id="content">

    <iframe src="http://localhost:3001/online_credit/new#container" >
    </iframe>

  </div>
</div>
<%= render partial: 'shared/footer' %>
