<div id="footer" class="ui inverted vertical segment homepage">
  <div class="ui stackable divided relaxed grid">

    <div class="ten wide column">
      <p>Республика Беларусь, 220123 г. Минск, ул. Кропоткина 96-210.</p>
      <p>УНП 190221536</p>
    </div>

    <div class="six wide column">
      <div class="contacts">
        <p><i class="icon call"></i> <a href="tel:+375444946388">+375 (44) 495-63-88</a></p>
        <p><i class="icon mail"></i> <a href="mailto:info@certificat.by">info@rude-bank.by</a></p>
      </div>
    </div>
  </div>
</div>
