<div id="header" class="ui inverted vertical segment">
  <div class="ui stackable divided grid">

    <div class="row">
      <div class="twelve wide column logo">
        <%= image_tag('cash.png')%> <span>Rude Bank</span>
      </div>
    </div>
  </div>
</div>
